:root{
    --bg1: #000e3d;
    --bg: #003049;
    --c1: #faa307;
    --c2: #f4faa7;
    --tp: transparent;
}

html{
    background-color: var(--bg1);
}

body{
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.Code_place{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 20rem;
    height: 20rem;

    font-size: 2rem;
    border-radius: 1rem;
    background-color: var(--bg);
    padding: 5rem;

    .code-inputs{
        display: flex;
        gap: 10px;


        input{
            width: 3rem;
            height: 3rem;
            border: 0.3rem solid var(--c1);
            background-color: var(--bg);
            color: var(--c1);
            border-radius: 8px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            transition: all 0.3s ease;

            &:focus{
                outline: none;
                border-color: var(--c1);
            }
        }

        .success-message{
            background: var(--bg);
            color: var(--c1);
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    }



    p{
        margin: 0;
        color: var(--c1);
    }


    ::after, ::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle) ,transparent -25%, var(--c1), var(--c2), var(--c1), var(--c2), var(--c1));

        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 1rem;
        z-index: -1;
        padding: 5px;

        animation: 5s spin linear infinite;
    }


    ::before{
        filter: blur(1.5rem);
        opacity: 0.5;
    }

    @keyframes spin {
        from{
            --angle: 0deg;
        }
        to{
            --angle: 360deg;
        }
    }
}


// Mobile view
@media screen and (max-width: 425px) {
    .Code_place{
        font-size: 1rem;

        width: 15rem;
        height: 15rem;

        padding: 1rem;

        .code-inputs input{
            width: 1.5rem;
            height: 1.5rem;
            border: 0.15rem solid var(--c1);
            font-size: 10px;
        }
    }
    
}
