:root{
    --bg: #16425b;
    --c1: #e39400;
    --c2: #9d0208;
}

html{
    background-color: var(--bg);
}

body{
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Code_place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    border: solid, 0.3rem, var(--c1);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    padding: 7rem;

    box-shadow: 0 0 .2rem #dabf8b,
        0 0 2rem #e39400,
        0 0 0.8rem #daae5d,
        0 0 3.8rem #e39400,
        inset 0 0 0.3rem #e39400; 

    p{
        color: var(--c1);
    }
}

