:root{
    --bg1: #000e3d;
    --bg: #003049;
    --c1: #faa307;
    --c2: #f4faa7;
    --tp: transparent;
}

html{
    background-color: var(--bg1);
    scrollbar-width: none;
}

body{
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.Code_place{
    position: relative;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 20rem;
    height: 20rem;

    font-size: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    border: solid 0.3rem var(--c1);
    border-radius: 1rem;
    padding: 5rem;
    z-index: 10;

    .code-inputs{
        display: flex;
        gap: 10px;


        input{
            width: 3rem;
            height: 3rem;
            border: 0.3rem solid var(--c1);
            background-color: var(--bg);
            color: var(--c1);
            border-radius: 8px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            transition: all 0.3s ease;

            &:focus{
                outline: none;
                border-color: var(--c1);
            }
        }

        .success-message{
            background: var(--bg);
            color: var(--c1);
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    }



    p{
        margin: 0;
        color: var(--c1);
    }
}


.StartScreen{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--tp);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.meteor{
    width: 10rem;
    height: 10rem;
    background-color: var(--c1);
    border-radius: 50%;
}


// Mobile view
@media screen and (max-width: 425px) {
    .Code_place{
        font-size: 1rem;

        width: 15rem;
        height: 15rem;

        padding: 1rem;

        .code-inputs input{
            width: 1.5rem;
            height: 1.5rem;
            border: 0.15rem solid var(--c1);
            font-size: 10px;
        }
    }
    
}
