:root{
    --bg1: #000e3d;
    --bg: #003049;
    --c1: #faa307;
    --c2: #f4faa7;
    --tp: transparent;
}

html{
    font-family: 'Cinzel Decorative', cursive;
    background-image: url(/pics/eg2.jpg);
    //background-color: var(--bg1);
    overflow: hidden;
    
}

body{
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card{
    font-size: 10px;

    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;


    font-size: 2rem;
    border-radius: 0;
    border: 0.1rem solid var(--c1);
    padding: 5rem;
    z-index: 10;

    // The borders
    .corner {
		width: 0.5rem;
		height: 0.5rem;
		border: 1px solid var(--c1);
		position: absolute;

		&::after,
		&::before {
			content: "";
			position: absolute;
		}

		&::after {
			width: 2rem;
			height: calc(1rem - 1px);
		}

		&::before {
			width: calc(1rem - 1px);
			height: 2rem;
		}

		&.left {
			left: -0.5rem;

			&::after {
				left: calc(-0px + 1rem);
				border-left: 1px solid var(--c1);
			}

			&::before {
				left: -1px;
				border-left: 1px solid var(--c1);
			}
		}

		&.right {
			right: -0.5rem;

			&::after {
				right: calc(-0px + 1rem);
				border-right: 1px solid var(--c1);
			}

			&::before {
				right: -1px;
				border-right: 1px solid var(--c1);
			}
		}

		&.top {
			top: -0.5rem;

			&::after {
				top: -1px;
				border-top: 1px solid var(--c1);
			}

			&::before {
				top: calc(-0px + 1rem);
				border-top: 1px solid var(--c1);
			}
		}

		&.bottom {
			bottom: -0.5rem;

			&::after {
				bottom: -1px;
				border-bottom: 1px solid var(--c1);
			}

			&::before {
				bottom: calc(-0px + 1rem);
				border-bottom: 1px solid var(--c1);
			}
		}
	}    
}

.Code_place{

    font-size: 10px;

    position: relative;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 20rem;
    height: 20rem;

    font-size: 2rem;
    backdrop-filter: blur(5px);
    border: 0.1rem solid var(--c1);
    padding: 5rem;
    z-index: 10;


    .code-inputs{
        display: flex;
        gap: 10px;


        input{
            width: 3rem;
            height: 3rem;
            border: 1px solid var(--c1);
            color: var(--c1);
            border-radius: 8px;
            background-color: var(--tp);
            backdrop-filter: blur(10px);
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            transition: all 0.3s ease;

            &:focus{
                outline: none;
                border-color: var(--c1);
            }
        }

        .success-message{
            background: var(--bg);
            color: var(--c1);
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    }



    p{
        margin: 0;
        color: var(--c1);
    }
}

.storyPart {
  position: absolute;
  display: flex;
  flex-direction: column;  // Stack content vertically
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;  // Prevent edge clipping
  backdrop-filter: blur(10px);

  p {
    font-size: 1.5rem;
    color: var(--c1);
    text-align: center; 
    margin: 10px;
  }
}


.SC{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    .meteor{
        margin-top: 5rem;
        width: 50rem;
        height: auto;
        
    }
}


// Mobile view
@media screen and (max-width: 425px) {
    .Code_place{
        font-size: 1.1rem;

        width: 15rem;
        height: 15rem;

        padding: 1rem;

        .code-inputs input{
            width: 1.5rem;
            height: 1.5rem;
            border: 0.15rem solid var(--c1);
            font-size: 10px;
        }
    }

    .storyPart{
        padding: 1.2rem;
        width: 70%;
        height: auto;
        p{
            font-size: 1.05rem;
        }
    }
    
}

