:root {
  --bg1: #000e3d;
  --bg: #003049;
  --c1: #faa307;
  --c2: #f4faa7;
  --tp: transparent;
}

html {
  font-family: "Cinzel Decorative", cursive;
  background-color: var(--bg1);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card {
  font-size: 10px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  font-size: 2rem;
  border-radius: 0;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border: 0.1rem solid var(--c1);
  padding: 5rem;
  z-index: 10;
}
.card .corner {
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid var(--c1);
  position: absolute;
}
.card .corner::after, .card .corner::before {
  content: "";
  position: absolute;
}
.card .corner::after {
  width: 2rem;
  height: calc(1rem - 1px);
}
.card .corner::before {
  width: calc(1rem - 1px);
  height: 2rem;
}
.card .corner.left {
  left: -0.5rem;
}
.card .corner.left::after {
  left: calc(0px + 1rem);
  border-left: 1px solid var(--c1);
}
.card .corner.left::before {
  left: -1px;
  border-left: 1px solid var(--c1);
}
.card .corner.right {
  right: -0.5rem;
}
.card .corner.right::after {
  right: calc(0px + 1rem);
  border-right: 1px solid var(--c1);
}
.card .corner.right::before {
  right: -1px;
  border-right: 1px solid var(--c1);
}
.card .corner.top {
  top: -0.5rem;
}
.card .corner.top::after {
  top: -1px;
  border-top: 1px solid var(--c1);
}
.card .corner.top::before {
  top: calc(0px + 1rem);
  border-top: 1px solid var(--c1);
}
.card .corner.bottom {
  bottom: -0.5rem;
}
.card .corner.bottom::after {
  bottom: -1px;
  border-bottom: 1px solid var(--c1);
}
.card .corner.bottom::before {
  bottom: calc(0px + 1rem);
  border-bottom: 1px solid var(--c1);
}

.Code_place {
  font-size: 10px;
  position: relative;
  display: none;
  opacity: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  height: 20rem;
  font-size: 2rem;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border: 0.1rem solid var(--c1);
  padding: 5rem;
  z-index: 10;
}
.Code_place .code-inputs {
  display: flex;
  gap: 10px;
}
.Code_place .code-inputs input {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--c1);
  background-color: var(--bg1);
  color: var(--c1);
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.Code_place .code-inputs input:focus {
  outline: none;
  border-color: var(--c1);
}
.Code_place .code-inputs .success-message {
  background: var(--bg);
  color: var(--c1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.Code_place p {
  margin: 0;
  color: var(--c1);
}

.storyPart {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.storyPart p {
  font-size: 1.5rem;
  color: var(--c1);
  text-align: center;
  margin: 0;
}

.StartScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--tp);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.meteor {
  width: 10rem;
  height: 10rem;
  background-color: var(--c1);
  border-radius: 50%;
}

@media screen and (max-width: 425px) {
  .Code_place {
    font-size: 1rem;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
  }
  .Code_place .code-inputs input {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid var(--c1);
    font-size: 10px;
  }
  .storyPart {
    padding: 2rem;
    width: 70%;
  }
  .storyPart p {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */