:root{
    --bg1: #000e3d;
    --bg: #003049;
    --c1: #faa307;
    --c2: #f4faa7;
    --tp: transparent;
}

html{
    font-family: 'Sekuya', sans-serif;
    background-color: var(--bg1);
    scrollbar-width: none;
}

body{
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.Code_place{

    font-size: 10px;

    position: relative;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 20rem;
    height: 20rem;

    font-size: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    border: 0.1rem solid var(--c1);
    padding: 5rem;
    z-index: 10;

    .corner {
		width: 0.5rem;
		height: 0.5rem;
		border: 1px solid var(--c1);
		position: absolute;

		&::after,
		&::before {
			content: "";
			position: absolute;
		}

		&::after {
			width: 2rem;
			height: calc(1rem - 1px);
		}

		&::before {
			width: calc(1rem - 1px);
			height: 2rem;
		}

		&.left {
			left: -0.5rem;

			&::after {
				left: calc(-2px + 1rem);
				border-left: 1px solid var(--c1);
			}

			&::before {
				left: -1px;
				border-left: 1px solid var(--c1);
			}
		}

		&.right {
			right: -0.5rem;

			&::after {
				right: calc(-2px + 1rem);
				border-right: 1px solid var(--c1);
			}

			&::before {
				right: -1px;
				border-right: 1px solid var(--c1);
			}
		}

		&.top {
			top: -0.5rem;

			&::after {
				top: -1px;
				border-top: 1px solid var(--c1);
			}

			&::before {
				top: calc(-2px + 1rem);
				border-top: 1px solid var(--c1);
			}
		}

		&.bottom {
			bottom: -0.5rem;

			&::after {
				bottom: -1px;
				border-bottom: 1px solid var(--c1);
			}

			&::before {
				bottom: calc(-2px + 1rem);
				border-bottom: 1px solid var(--c1);
			}
		}
	}

    .code-inputs{
        display: flex;
        gap: 10px;


        input{
            width: 3rem;
            height: 3rem;
            border: 1px solid var(--c1);
            background-color: var(--bg1);
            color: var(--c1);
            border-radius: 8px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            transition: all 0.3s ease;

            &:focus{
                outline: none;
                border-color: var(--c1);
            }
        }

        .success-message{
            background: var(--bg);
            color: var(--c1);
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    }



    p{
        margin: 0;
        color: var(--c1);
    }
}


.StartScreen{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--tp);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.meteor{
    width: 10rem;
    height: 10rem;
    background-color: var(--c1);
    border-radius: 50%;
}


// Mobile view
@media screen and (max-width: 425px) {
    .Code_place{
        font-size: 1rem;

        width: 15rem;
        height: 15rem;

        padding: 1rem;

        .code-inputs input{
            width: 1.5rem;
            height: 1.5rem;
            border: 0.15rem solid var(--c1);
            font-size: 10px;
        }
    }
    
}


/// Test bordera

